%h1 Nice to see you!

%p Here, go and grab some <a href="http://www.flickr.com/groups/flowers-in-cc/pool/">flowers</a> :)

%p You may also try to request <em><a href="/static.html">/static.html</a></em>.
